@import "../../assets/styleVariables.scss";

.bannerContainer {
  max-width: 100rem;
  padding: 7rem;
  background: url("../../assets/Logos/banner.jpg");
  background-repeat: no-repeat;
  background-size: 125%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 2rem;
  overflow: hidden;

  .textContainer {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    gap: 4rem;
    flex-direction: column;

    .title {
      color: white;
      font-size: 5rem;
      font-family: $primary-font, serif;
      letter-spacing: 0.75rem;
    }
    .subtitle {
      color: white;
      font-family: $primary-font;
      font-size: 3.5rem;
      transform: skew(-15deg, 0);
      font-weight: 500;
      letter-spacing: 0.5rem;
    }
    .subtitle2Container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;

      .subtitle2 {
        font-size: 2.75rem;
        font-family: $tertiary-font, sans-serif;
        text-transform: capitalize;
      }

      li:nth-child(1) {
        list-style-type: none;
      }
    }
  }
}

@media (max-width: 1024px) {
  .bannerContainer {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
  .bannerContainer {
    max-height: 30rem;
    overflow: hidden;

    .textContainer {
      .title {
        font-size: 2.5rem;
      }
      .subtitle {
        font-size: 2rem;
      }
      .subtitle2Container {
        .subtitle2 {
          font-size: 1.8rem;
        }
      }
    }
  }
}
